USE [RapidErp]
GO
-----------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------

/****** Object:  Table [dbo].[AppMenu]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppMenu](
	[MenuId] [int] NOT NULL,
	[MenuName] [varchar](250) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[SubModuleId] [int] NOT NULL,
	[MenuTypeId] [int] NOT NULL,
	[ActionName] [nvarchar](256) NOT NULL,
	[ControllerName] [nvarchar](256) NOT NULL,
	[AreaName] [varchar](250) NOT NULL,
	[DefaultQuery] [nvarchar](max) NOT NULL,
	[IconPath] [varchar](250) NOT NULL,
	[HasChild] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeleteReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppMenu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppMenuType]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppMenuType](
	[MenuTypeId] [int] NOT NULL,
	[MenuTypeName] [varchar](250) NOT NULL,
 CONSTRAINT [PK_AppMenuType] PRIMARY KEY CLUSTERED 
(
	[MenuTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppModule]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppModule](
	[ModuleId] [int] NOT NULL,
	[ModuleName] [varchar](250) NOT NULL,
	[ActionName] [varchar](250) NOT NULL,
	[ControllerName] [varchar](250) NOT NULL,
	[AreaName] [varchar](250) NOT NULL,
	[IconPath] [varchar](250) NOT NULL,
	[HasChild] [bit] NULL,
	[ModuleDisplayOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeleteReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppModule] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppSetting]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSetting](
	[AppSettingId] [int] NOT NULL,
	[AppSettingName] [nvarchar](256) NOT NULL,
	[Key] [varchar](256) NULL,
	[Value] [varchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeleteReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppSetting] PRIMARY KEY CLUSTERED 
(
	[AppSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppSqlResult]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSqlResult](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[Success] [bit] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[ResultCount] [int] NOT NULL,
 CONSTRAINT [PK_AppSqlResult] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppSubMenu]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSubMenu](
	[SubMenuId] [int] IDENTITY(1,1) NOT NULL,
	[SubMenuName] [varchar](250) NOT NULL,
	[MenuId] [int] NOT NULL,
	[ActionName] [nvarchar](256) NOT NULL,
	[ControllerName] [nvarchar](256) NOT NULL,
	[AreaName] [varchar](250) NOT NULL,
	[DefaultQuery] [nvarchar](max) NOT NULL,
	[IconPath] [varchar](250) NOT NULL,
	[HasChild] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeleteReason] [nvarchar](max) NULL,
	[AppMenuTypeMenuTypeId] [int] NULL,
 CONSTRAINT [PK_AppSubMenu] PRIMARY KEY CLUSTERED 
(
	[SubMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppSubModule]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSubModule](
	[SubModuleId] [int] IDENTITY(1,1) NOT NULL,
	[SubModuleName] [varchar](250) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[ActionName] [varchar](250) NOT NULL,
	[ControllerName] [varchar](250) NOT NULL,
	[AreaName] [varchar](250) NOT NULL,
	[IconPath] [varchar](250) NOT NULL,
	[HasChild] [bit] NULL,
	[GroupDisplayOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeleteReason] [nvarchar](max) NULL,
	[AppModuleModuleId] [int] NULL,
 CONSTRAINT [PK_AppSubModule] PRIMARY KEY CLUSTERED 
(
	[SubModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserRoleAndPermission]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserRoleAndPermission](
	[UserRoleAndPermissionId] [int] NOT NULL,
	[RoleId] [nvarchar](max) NOT NULL,
	[MenuId] [int] NULL,
	[SubMenuId] [int] NULL,
	[CanView] [bit] NOT NULL,
	[CanCreate] [bit] NOT NULL,
	[CanUpdate] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[CanApprove] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeleteReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppUserRoleAndPermission] PRIMARY KEY CLUSTERED 
(
	[UserRoleAndPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUserTokenRefresh]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUserTokenRefresh](
	[UserTokenRefreshId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](256) NULL,
	[DeviceId] [varchar](256) NULL,
	[TokenHash] [varchar](256) NULL,
	[TokenSalt] [varchar](256) NULL,
	[TimeStamp] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[RefreshToken] [varchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeleteReason] [nvarchar](max) NULL,
 CONSTRAINT [PK_AppUserTokenRefresh] PRIMARY KEY CLUSTERED 
(
	[UserTokenRefreshId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 5/12/2024 1:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[DivisionId] [int] NOT NULL,
	[NameEnglish] [nvarchar](max) NULL,
	[ShortEnglish] [nvarchar](max) NULL,
	[NameArabic] [nvarchar](max) NULL,
	[ShortArabic] [nvarchar](max) NULL,
	[Logo] [varbinary](max) NULL,
	[RatingId] [int] NOT NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Landmark] [nvarchar](max) NULL,
	[POBox] [nvarchar](max) NULL,
	[AreaId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AppMenu_MenuTypeId]    Script Date: 5/12/2024 1:25:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppMenu_MenuTypeId] ON [dbo].[AppMenu]
(
	[MenuTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppMenu_ModuleId]    Script Date: 5/12/2024 1:25:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppMenu_ModuleId] ON [dbo].[AppMenu]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppMenu_SubModuleId]    Script Date: 5/12/2024 1:25:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppMenu_SubModuleId] ON [dbo].[AppMenu]
(
	[SubModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppSubMenu_AppMenuTypeMenuTypeId]    Script Date: 5/12/2024 1:25:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppSubMenu_AppMenuTypeMenuTypeId] ON [dbo].[AppSubMenu]
(
	[AppMenuTypeMenuTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppSubMenu_MenuId]    Script Date: 5/12/2024 1:25:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppSubMenu_MenuId] ON [dbo].[AppSubMenu]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppSubModule_AppModuleModuleId]    Script Date: 5/12/2024 1:25:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AppSubModule_AppModuleModuleId] ON [dbo].[AppSubModule]
(
	[AppModuleModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AppMenu]  WITH CHECK ADD  CONSTRAINT [FK_AppMenu_AppMenuType_MenuTypeId] FOREIGN KEY([MenuTypeId])
REFERENCES [dbo].[AppMenuType] ([MenuTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppMenu] CHECK CONSTRAINT [FK_AppMenu_AppMenuType_MenuTypeId]
GO
ALTER TABLE [dbo].[AppMenu]  WITH CHECK ADD  CONSTRAINT [FK_AppMenu_AppModule_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[AppModule] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppMenu] CHECK CONSTRAINT [FK_AppMenu_AppModule_ModuleId]
GO
ALTER TABLE [dbo].[AppMenu]  WITH CHECK ADD  CONSTRAINT [FK_AppMenu_AppSubModule_SubModuleId] FOREIGN KEY([SubModuleId])
REFERENCES [dbo].[AppSubModule] ([SubModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppMenu] CHECK CONSTRAINT [FK_AppMenu_AppSubModule_SubModuleId]
GO
ALTER TABLE [dbo].[AppSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_AppSubMenu_AppMenu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[AppMenu] ([MenuId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppSubMenu] CHECK CONSTRAINT [FK_AppSubMenu_AppMenu_MenuId]
GO
ALTER TABLE [dbo].[AppSubMenu]  WITH CHECK ADD  CONSTRAINT [FK_AppSubMenu_AppMenuType_AppMenuTypeMenuTypeId] FOREIGN KEY([AppMenuTypeMenuTypeId])
REFERENCES [dbo].[AppMenuType] ([MenuTypeId])
GO
ALTER TABLE [dbo].[AppSubMenu] CHECK CONSTRAINT [FK_AppSubMenu_AppMenuType_AppMenuTypeMenuTypeId]
GO
ALTER TABLE [dbo].[AppSubModule]  WITH CHECK ADD  CONSTRAINT [FK_AppSubModule_AppModule_AppModuleModuleId] FOREIGN KEY([AppModuleModuleId])
REFERENCES [dbo].[AppModule] ([ModuleId])
GO
ALTER TABLE [dbo].[AppSubModule] CHECK CONSTRAINT [FK_AppSubModule_AppModule_AppModuleModuleId]
GO